{% extends 'base.html' %}

{% block title %}Home - Directorio{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="mb-4">Directorio de Edificios</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">LA PAMAPA</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">SAN JUANITO</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">ALAMEDA</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">MURANO 39</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">PALMETO</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">MAYAGUEZ</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">VEROJU</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">HABITAR</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">PORTAL DE LA COLINA</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">ARANJUEZ</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">GAMMA</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">LOYOLA</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">ARANJUEZ</a>
        </div>
        
    </div>
</div>
{% endblock %}
